<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Produto</th>
        <th>Categoria</th>
        <th>Usuário</th>
        <th>Valor</th>
        <th>Data da Compra</th>
        <th>Data do Pagamento</th>
        <th>Tipo do Pagamento</th>
        <th>Status</th>
        <th>Parcelas</th>
        <th>Parcela Atual</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of list">
        <td>{{ record.product }}</td>
        <td>{{ record.category }}</td>
        <td>{{ record.user }}</td>
        <td>{{ record.valor }}</td>
        <td>{{ record.purchaseDate }}</td>
        <td>{{ record.payDay }}</td>
        <td>{{ record.payMethod }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.installments }}</td>
        <td>{{ record.actualInstallments }}</td>
      </tr>
    </tbody>
  </table>
</div>