<div class="p-3">
  <!-- Cabeçalho com Título e Botão "Adicionar" -->
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-semibold">Lançamentos</h1>
    <button (click)="navigateToEdit('0')" class="bg-green-500 text-white rounded p-2">Adicionar</button>
  </div>

  <hr class="mb-4"> 

  <div class="search-container mb-4 flex">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Pesquisar por produto, categoria ou usuário"
      class="border rounded p-2 flex-grow"
    />
    <button (click)="search()" class="bg-blue-500 text-white rounded p-2 ml-2">Pesquisar</button>
    <button (click)="clear()" class="bg-gray-500 text-white rounded p-2 ml-2">Limpar</button>
  </div>
  
  <!-- Acordeão de Filtros -->
  <div class="mb-4">
    <div
      class="flex justify-between items-center bg-gray-100 p-4 rounded-md cursor-pointer transition-all duration-300"
      (click)="isOpen = !isOpen"
    >
      <h2 class="text-lg font-semibold">Filtros avançados</h2>
    </div>
    
    <div [ngClass]="{'hidden': !isOpen, 'block': isOpen}" class="bg-gray-100 p-4 rounded-md mt-2">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
        <!-- Produto Select -->
        <div>

            <label for="product" class="block mb-1">Produto</label>
            <input
            type="text"
            [(ngModel)]="selectedProduct"
            placeholder="Pesquisar por produto, categoria ou usuário"
            class="border rounded p-2 flex-grow w-full"
          />
     
        </div>
  
        <!-- Categoria Select -->
        <div>
          <label for="category" class="block mb-1">Categoria</label>
          <select id="category" [(ngModel)]="selectedCategory" class="border rounded p-2 w-full">
            <option value="">Selecione uma categoria</option>
            <option *ngFor="let category of CategoriesList" [value]="category">{{category}}</option>
          </select>
        </div>
  
        <!-- Usuario Select -->
        <div>
          <label for="user" class="block mb-1">Usuário</label>
          <select id="user" [(ngModel)]="selectedUser" class="border rounded p-2 w-full">
            <option value="">Selecione um usuário</option>
            <option *ngFor="let user of UsersList" [value]="user">{{user}}</option>
          </select>
        </div>
  
        <!-- Valor Mínimo -->
        <div>
          <label for="minValue" class="block mb-1">Valor Mínimo</label>
          <input type="number" id="minValue" [(ngModel)]="minValue" class="border rounded p-2 w-full" placeholder="Valor mínimo" />
        </div>
  
        <!-- Valor Máximo -->
        <div>
          <label for="maxValue" class="block mb-1">Valor Máximo</label>
          <input type="number" id="maxValue" [(ngModel)]="maxValue" class="border rounded p-2 w-full" placeholder="Valor máximo" />
        </div>
  
        <!-- Intervalo de Data -->
        <div>
          <label for="startDate" class="block mb-1">Data Inicial</label>
          <input type="date" id="startDate" [(ngModel)]="startDate" class="border rounded p-2 w-full" />
        </div>
  
        <div>
          <label for="endDate" class="block mb-1">Data Final</label>
          <input type="date" id="endDate" [(ngModel)]="endDate" class="border rounded p-2 w-full" />
        </div>
  
        <!-- Intervalo de Data de Pagamento -->
        <div>
          <label for="paymentStartDate" class="block mb-1">Data de Pagamento Inicial</label>
          <input type="date" id="paymentStartDate" [(ngModel)]="paymentStartDate" class="border rounded p-2 w-full" />
        </div>
  
        <div>
          <label for="paymentEndDate" class="block mb-1">Data de Pagamento Final</label>
          <input type="date" id="paymentEndDate" [(ngModel)]="paymentEndDate" class="border rounded p-2 w-full" />
        </div>
  
        <!-- Tipo de Pagamento Select -->
        <div>
          <label for="paymentType" class="block mb-1">Tipo de Pagamento</label>
          <select id="paymentType" [(ngModel)]="selectedPaymentType" class="border rounded p-2 w-full">
            <option value="">Selecione um tipo de pagamento</option>
            <option *ngFor="let paymentType of PaymentTypesList" [value]="paymentType">{{paymentType}}</option>
          </select>
        </div>
  
        <!-- Status Select -->
        <div>
          <label for="status" class="block mb-1">Status</label>
          <select id="status" [(ngModel)]="selectedStatus" class="border rounded p-2 w-full">
            <option value="">Selecione um status</option>
            <option *ngFor="let status of StatusesList" [value]="status">{{status}}</option>
          </select>
        </div>
  
        <div>
        <button (click)="search()" class="bg-blue-500 text-white rounded p-2 ml-2 mt-7">Aplicar Filtros</button>
        <button (click)="clearFilters()" class="bg-blue-500 text-white rounded p-2 ml-2 mt-7">Limpar Filtros</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Categoria</th>
          <th>Usuário</th>
          <th>Valor</th>
          <th>Data da Compra</th>
          <th>Data do Pagamento</th>
          <th>Tipo do Pagamento</th>
          <th>Status</th>
          <th>Parcelas</th>
          <th>Parcela Atual</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of filteredList | paginate: { itemsPerPage: 4, currentPage: currentPage }">
          <td>{{ record.product }}</td>
          <td>{{ record.category }}</td>
          <td>{{ record.user }}</td>
          <td>{{ record.value }}</td>
          <td>{{ record.purchaseDate }}</td>
          <td>{{ record.payDay }}</td>
          <td>{{ record.payMethod }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.installments }}</td>
          <td>{{ record.actualInstallments }}</td>
          <td>
            <i 
              class="fa-solid fa-pen-to-square icon-large cursor-pointer text-blue-500 hover:text-blue-700 mr-2" 
              (click)="navigateToEdit(record.id)">
            </i>
            <i class="fa-solid fa-trash icon-large cursor-pointer text-red-500 hover:text-red-700"
              (click)="openDeleteModal(record.id)">
            </i>
          </td>
          
          <app-confirm-delete-modal 
          [isOpen]="isModalOpen" 
          (onClose)="isModalOpen = false" 
          (onConfirm)="confirmDelete()">
        </app-confirm-delete-modal>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mt-4">
    <pagination-controls 
    class="my-pagination" 
    (pageChange)="currentPage = $event"
    previousLabel=""
    nextLabel=""
    ></pagination-controls>
  </div>
</div>
