@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-sys-color-primary: #6750A4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-secondary: #625B71;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #1D192B;
  --md-sys-color-surface: #FFFBFE;
  --md-sys-color-surface-variant: #E7E0EC;
  --md-sys-color-on-surface: #1C1B1F;
  --md-sys-color-on-surface-variant: #49454F;
  --md-sys-color-outline: #79747E;
}
:root.dark {
  --md-sys-color-primary: #D0BCFF;
  --md-sys-color-on-primary: #381E72;
  --md-sys-color-secondary: #CCC2DC;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #E8DEF8;
  --md-sys-color-surface: #1C1B1F;
  --md-sys-color-surface-variant: #49454F;
  --md-sys-color-on-surface: #E6E1E5;
  --md-sys-color-on-surface-variant: #CAC4D0;
  --md-sys-color-outline: #938F99;
}


@media (prefers-color-scheme: dark) {
  :root:not(.dark):not(.light) {
    /* só aplica se o usuário não forçou manualmente */
    --md-sys-color-primary: #D0BCFF;
    --md-sys-color-on-primary: #381E72;
    --md-sys-color-secondary: #CCC2DC;
    --md-sys-color-secondary-container: #4A4458;
    --md-sys-color-on-secondary-container: #E8DEF8;
    --md-sys-color-surface: #1C1B1F;
    --md-sys-color-surface-variant: #49454F;
    --md-sys-color-on-surface: #E6E1E5;
    --md-sys-color-on-surface-variant: #CAC4D0;
    --md-sys-color-outline: #938F99;
  }
}

.bg-surface { background-color: var(--md-sys-color-surface); }
.text-on-surface { color: var(--md-sys-color-on-surface); }
.bg-surface-variant { background-color: var(--md-sys-color-surface-variant); }
.text-on-surface-variant { color: var(--md-sys-color-on-surface-variant); }
.text-primary { color: var(--md-sys-color-primary); }
.bg-secondary-container { background-color: var(--md-sys-color-secondary-container); }
.text-on-secondary-container { color: var(--md-sys-color-on-secondary-container); }
.border-outline { border-color: var(--md-sys-color-outline); }


